[submodule "axolotl"]
	path = axolotl
	url = https://github.com/OpenAccess-AI-Collective/axolotl.git
[submodule "lm-question-generation"]
	path = lm-question-generation
	url = https://github.com/swiggy123/lm-question-generation.git
